<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>
  <input name="{{.InputName}}" type="file" id="{{.InputId}}" value="{{.Value}}">
</div>